In [9]:
import pandas as pd 
%matplotlib inline
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [10]:
df = pd.read_csv('datafiles/Boston.csv')
df.head(2)

,CRIME,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,high,0.0,18.10,0,0.718,3.561,87.9,1.6132,24.0,666,20.2,354.7,7.12,27.5
1,low,0.0,8.14,0,0.538,5.950,82.0,3.9900,4.0,307,21.0,232.6,27.71,13.2

In [11]:
df['CRIME'].value_counts()

very_low    50
high        25
low         25
Name: CRIME, dtype: int64

In [12]:
#ダミー化、文字列から数値列に変換(3to2)
#ダミー結合と元の列の削除
crime = pd.get_dummies(df['CRIME'], drop_first = True)
df2 = pd.concat([df,crime], axis = 1)
df2 = df2.drop(['CRIME'], axis = 1)
df2.head(2)

,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE,low,very_low
0,0.0,18.10,0,0.718,3.561,87.9,1.6132,24.0,666,20.2,354.7,7.12,27.5,0,0
1,0.0,8.14,0,0.538,5.950,82.0,3.9900,4.0,307,21.0,232.6,27.71,13.2,1,0

In [13]:
#データを分割する。　
train_val, test = train_test_split(df2, test_size = 0.2, random_state = 0)

In [14]:
#欠損値の確認
train_val.isnull().sum()

ZN          0
INDUS       0
CHAS        0
NOX         1
RM          0
AGE         0
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT       0
PRICE       0
low         0
very_low    0
dtype: int64

In [8]:
#平均値で欠損値を埋める
train_val_mean = train_val.mean() # caculate row average 
train_val2 = train_val.fillna(train_val_mean) #by average