In [4]:
import pandas as pd
df = pd.read_csv('datafiles/KvsT.csv')
df.head(3)

    身長  体重  年代    派閥
0  170  60  10   きのこ
1  172  65  20   きのこ
2  170  60  30  たけのこ

In [5]:
col = ['身長','体重']
df[col]

     身長  体重
0   170  60
1   172  65
2   170  60
3   170  65
4   177  65
5   168  55
6   169  65
7   170  62
8   180  70
9   170  68
10  165  65
11  170  72
12  175  77
13  170  65
14  170  65
15  155  56
16  160  56
17  170  65
18  175  60

In [7]:
df['身長']

0     170
1     172
2     170
3     170
4     177
5     168
6     169
7     170
8     180
9     170
10    165
11    170
12    175
13    170
14    170
15    155
16    160
17    170
18    175
Name: 身長, dtype: int64

In [8]:
type(df['派閥'])

pandas.core.series.Series

In [9]:
df['派閥']

0      きのこ
1      きのこ
2     たけのこ
3      きのこ
4     たけのこ
5      きのこ
6     たけのこ
7     たけのこ
8     たけのこ
9      きのこ
10    たけのこ
11     きのこ
12    たけのこ
13    たけのこ
14    たけのこ
15     きのこ
16    たけのこ
17     きのこ
18    たけのこ
Name: 派閥, dtype: object

In [10]:
xcol = ['身長','体重','年代']
x = df[xcol]
x

     身長  体重  年代
0   170  60  10
1   172  65  20
2   170  60  30
3   170  65  40
4   177  65  10
5   168  55  20
6   169  65  30
7   170  62  40
8   180  70  10
9   170  68  20
10  165  65  40
11  170  72  20
12  175  77  40
13  170  65  30
14  170  65  30
15  155  56  20
16  160  56  20
17  170  65  40
18  175  60  20

In [11]:
t = df['派閥']
t

0      きのこ
1      きのこ
2     たけのこ
3      きのこ
4     たけのこ
5      きのこ
6     たけのこ
7     たけのこ
8     たけのこ
9      きのこ
10    たけのこ
11     きのこ
12    たけのこ
13    たけのこ
14    たけのこ
15     きのこ
16    たけのこ
17     きのこ
18    たけのこ
Name: 派閥, dtype: object

In [14]:
from sklearn import tree
#モデルの準備
model = tree.DecisionTreeClassifier(random_state =0)
model.fit(x,t)

DecisionTreeClassifier(random_state=0)

In [16]:
taro = [[170,70,20]]
model.predict(taro)

array(['きのこ'], dtype=object)

In [17]:
model.score(x,t)

1.0

In [20]:
import pickle
with open ('KinokoTakenoko.pkl', 'wb') as f:
    pickle.dump(model,f)

In [ ]:
import pickle 
with open ('KinokoTakenoko.pkl', 'rb') as