In [23]:
#必要なライブラリをインポートする
import pandas as pd 
%matplotlib inline
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [24]:
#ファイルの読み込み
df = pd.read_csv('datafiles/ramen.csv')
df.head(2)

,date,day_week,rain_10,rain_total,arg_temperature,max_temperature,min_temperature,avg_wind,corona_all,corona_chiba,corona_tokyo,customers,sale
0,2021/1/6,Wednesday,0.0,0.0,4.7,6.5,3.4,2.1,6066,343,1640,120.0,96900.0
1,2021/1/7,Thursday,0.5,3.0,6.2,11.6,2.2,3.2,7793,618,2520,113.0,93600.0

In [25]:
#check day of week に何種類があるか
df['day_week'].value_counts()

Wednesday    47
Saturday     47
Tuesday      47
Friday       47
Sunday       47
Monday       47
Thursday     47
Name: day_week, dtype: int64

In [16]:
#ダミー変数化(数値化)
days = pd.get_dummies(df['day_week'], drop_first = True)
df2 = pd.concat([df, days], axis = 1)
df2 = df2.drop(['day_week'], axis = 1)
df2.head(2)

,date,rain_10,rain_total,arg_temperature,max_temperature,min_temperature,avg_wind,corona_all,corona_chiba,corona_tokyo,customers,sale,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
0,2021/1/6,0.0,0.0,4.7,6.5,3.4,2.1,6066,343,1640,120.0,96900.0,0,0,0,0,0,1
1,2021/1/7,0.5,3.0,6.2,11.6,2.2,3.2,7793,618,2520,113.0,93600.0,0,0,0,1,0,0

In [10]:
#訓練データ＆検証データとテストデータに分割する
train_val, test = train_test_split(df2, test_size = 0.2, random_state = 0)

In [11]:
#train_val に欠損値がるかかチェック
train_val.isnull().sum()

date               0
rain_10            0
rain_total         0
arg_temperature    0
max_temperature    0
min_temperature    0
avg_wind           0
corona_all         0
corona_chiba       0
corona_tokyo       0
customers          1
sale               1
Monday             0
Saturday           0
Sunday             0
Thursday           0
Tuesday            0
Wednesday          0
dtype: int64

In [27]:
#平均値で埋める
df2.groupby('Friday').mean()['customers']

KeyError: 'Friday'