In [2]:
import pandas as pd 
from sklearn import tree 
from sklearn.model_selection import train_test_split
%matplotlib inline
df = pd.read_csv('datafiles/Survived.csv')
df.head(2)

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C

In [7]:
df['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [8]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [9]:
df.shape

(891, 11)

In [14]:
#age列を平均値で穴埋める
df['Age'] = df['Age'].fillna(df['Age'].mean())
#Embarked 列を最頻値で穴埋める
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode())

In [15]:
#特徴量として利する列のリフト
col = ['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']
x = df[col]
t = df['Survived']

In [16]:
x_train, x_test, y_train, y_test = train_test_split(x, t, test_size = 0.2, random_state = 0)
# train のサイズの確認
x_train.shape

(712, 5)

In [18]:
#モデルの作成と学習
#blanced là để cân bằng các ảnh hưởng của những data quá lớn quá nhỏ 
model = tree.DecisionTreeClassifier(max_depth = 5,
                                   random_state = 0, class_weight = 'balanced')
model.fit(x_train, y_train )

DecisionTreeClassifier(class_weight='balanced', max_depth=5, random_state=0)

In [19]:
#正解率を計算
model.score(X = x_test, y = y_test)

0.7374301675977654

In [25]:
#モデルのチューニングの自動化
def learn(x, t, depth = 3):
    x_train, x_test, y_train, y_test = train_test_split(x, t, test_size = 0.2, random_state = 0)
    model = tree.DecisionTreeClassifier(max_depth = depth, random_state = 0, class_weight = 'balanced')
    model.fit(x_train, y_train)
    
    score = model.score(X = x_train, y = y_train)
    score2 = model.score( X = x_test, y = y_test)
    return round(score, 3), round(score2, 3), model

In [27]:
for j in range(1,15): # j は木の深さ
    train_score, test_score, model = learn(x, t, depth = j)
    sentence = '群連データ正解りつは{}'
    sentence2 = 'テストデータの正解率{}'
    total_sentence = '深さ{}:' + sentence + sentence2
    print(total_sentence.format(j, train_score, test_score))

深さ1:群連データ正解りつは0.659テストデータの正解率0.704
深さ2:群連データ正解りつは0.699テストデータの正解率0.732
深さ3:群連データ正解りつは0.704テストデータの正解率0.737
深さ4:群連データ正解りつは0.698テストデータの正解率0.726
深さ5:群連データ正解りつは0.722テストデータの正解率0.737
深さ6:群連データ正解りつは0.77テストデータの正解率0.698
深さ7:群連データ正解りつは0.771テストデータの正解率0.648
深さ8:群連データ正解りつは0.781テストデータの正解率0.631
深さ9:群連データ正解りつは0.83テストデータの正解率0.704
深さ10:群連データ正解りつは0.851テストデータの正解率0.687
深さ11:群連データ正解りつは0.878テストデータの正解率0.676
深さ12:群連データ正解りつは0.892テストデータの正解率0.654
深さ13:群連データ正解りつは0.909テストデータの正解率0.654
深さ14:群連データ正解りつは0.92テストデータの正解率0.654

In [30]:
df2 = pd.read_csv('datafiles/Survived.csv')
print(df['Age'].mean())
print(df['Age'].median())

29.699117647058763
29.69911764705882

In [31]:
 df2.groupby('Survived').mean()['Age']

Survived
0    30.626179
1    28.343690
Name: Age, dtype: float64

In [32]:
 df2.groupby('Pclass').mean()['Age']

Pclass
1    38.233441
2    29.877630
3    25.140620
Name: Age, dtype: float64

In [33]:
pd.pivot_table(df2, index = 'Survived', columns = 'Pclass', values = 'Age')

Pclass            1          2          3
Survived
0         43.695312  33.544444  26.555556
1         35.368197  25.901566  20.646118

In [34]:
# find max 
pd.pivot_table(df2, index = 'Survived', columns = 'Pclass', values = 'Age', aggfunc = max)

Pclass       1     2     3
Survived
0         71.0  70.0  74.0
1         80.0  62.0  63.0

In [ ]:
#Age 列の欠損値の行を抜き出す（欠損であればtrue
is_null = df2['Age'].isnull()

#Pclass1 に関する埋め込み
df2.loc[(df['Pclass']== 1 & (df['Survived'] ==0) & (is_null), 'Age']= 43
df2.loc[(df['Pclass']== 1 & (df['Survived'] ==1 & (is_null), 'Age']= 35

#Pclass2に関する埋め込み
df2.loc[(df['Pclass']== 2& (df['Survived'] ==0) & (is_null), 'Age']= 43